<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="/icon/favicon.png">
    <!-- bootstrap 3.0.2 -->
    <link href="/system/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- font Awesome -->
    <link href="/system/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href="/system/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <!-- DATA TABLES -->
    <link href="/system/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- Theme style -->
    <link href="/system/css/AdminLTE.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<header class="header">
    #include("/views/console/logo.html")
    <!-- Header Navbar: style can be found in header.less -->
    #include("/views/console/topToolBar.html")
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    #include("/views/console/tree.html")
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                店铺结算
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>财务管理</a></li>
                <li class="active"><a href="#">店铺结算</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <ul class="nav navbar-nav navbar-left">
                                <li style="margin-left: 25px; margin-top:25px;">
                                    按日期打款:
                                </li>
                                <li>
                                    <div class="input-group" style="width: 100px;margin-left: 5px; margin-top: 18px;">
                                        <input type="date" id="datefield" class="form-control" size="25" required/>
                                        <span class="input-group-btn">
                                            <a href="#" class="btn btn-danger">一键打款</a>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li style="margin-top: 10px;">
                                    <form class="navbar-form navbar-right" action="/console/allShopSummary/queryByShopName">
                                        <input size="23" name="query" type="text" class="form-control" placeholder="按店铺名称查询...">
                                    </form>
                                </li>
                                <li style="margin-left: 10px; margin-top: 10px; margin-right: 100px;">
                                    <form class="navbar-form navbar-right" action="/console/allShopSummary/queryByDate">
                                        <input size="23" name="query" type="text" class="form-control" placeholder="按日期查询:2015-04-24">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>日期</th>
                                    <th>店铺ID</th>
                                    <th>店铺名称</th>
                                    <th>微信支付用户点击确认订单数</th>
                                    <th>微信支付用户点击确认订单总额</th>
                                    <th>是否打款</th>
                                    <th>打款操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($shopsummary in $shopSums)
                                    <tr>
                                        <td>${shopsummary.id}</td>
                                        <td class="">$shopsummary.dateStr</td>
                                        <td class="">$shopsummary.shop_id</td>
                                        <td class="">$shopsummary.shop_name</td>
                                        <td class="">$shopsummary.order_count</td>
                                        <td class="">$shopsummary.order_price_str</td>
                                        <td class="">#if($shopsummary.pay_status == 1)已打款#else未打款#end</td>
                                        <td>#if($shopsummary.pay_status != 1)
                                            <a href="#" class="btn btn-primary btn-sm" data-sumid="${shopsummary.id}">打款完成</a>#else#end</td>
                                    </tr>
                                    #end
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>日期</th>
                                    <th>店铺ID</th>
                                    <th>店铺名称</th>
                                    <th>微信支付用户点击确认订单数</th>
                                    <th>微信支付用户点击确认订单总额</th>
                                    <th>是否打款</th>
                                    <th>打款操作</th>
                                </tr>
                                </tfoot>
                            </table>
                            <nav>
                                <ul class="pager">
                                    #if($previous_f)
                                        <li>
                                            #if($query)
                                                <a href="/console/allShopSummary?shop_id=${shop_id}&from=$previous_f&offset=50&query=$query">Previous</a>
                                            #else
                                                <a href="/console/allShopSummary?shop_id=${shop_id}&from=$previous_f&offset=50">Previous</a>
                                            #end
                                        </li>
                                    #end
                                    #if($next_f)
                                        <li>
                                            #if($query)
                                                <a href="/console/allShopSummary?shop_id=${shop_id}&from=$next_f&offset=50&query=$query">Next</a>
                                            #else
                                                <a href="/console/allShopSummary?shop_id=${shop_id}&from=$next_f&offset=50">Next</a>
                                            #end
                                        </li>
                                    #end
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- 模态框（Modal） -->
<div class="modal fade" style="padding-top:10%; background-color: #2a85a0" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title text-center" id="myModalLabel">
                    添加员工账号
                </h2>
            </div>
            <form class="form-horizontal" method="post" action="/console/catStaff/insert">
                <div class="modal-body container" style="width: 80%">
                    <div class="form-group" style="padding-top: 30px;">
                        <input type="text" name="name" class="form-control" placeholder="姓名" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="电话" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="pwd" class="form-control" placeholder="密码" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="cpwd" class="form-control" placeholder="确认密码" required>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="add">添加</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- jQuery 2.0.2 -->
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/system/js/bootstrap.min.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="/system/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/system/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/system/js/AdminLTE/app.js" type="text/javascript"></script>
<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<!-- page script -->
<script type="text/javascript">
    $(function () {
        $('#dataTable').dataTable({
            "bSort": true//排序
        });
        $(".btn-primary").click(function () {
            var result = confirm("是否已经打款完成"),
                    oThis = $(this);
            if (result) {
                $.ajax({
                    type: "POST", url: "/console/allShopSummary/pay",
                    data: {id: oThis.data('sumid')},
                    success: function (data) {
                        alert(data);
                        location.reload();
                    }
                });
            }
        });
        $(".btn-danger").click(function () {
            if ($("#datefield").val() == '') {
                alert("日期不能");
            } else {
                var result = confirm("是否一键打款"),
                        oThis = $(this);
                if (result) {
                     var date = $("#datefield").val();
                    $.ajax({
                         type: "POST", url: "/console/allShopSummary/oneKey",
                         data: {date: date},
                         success: function (data) {
                             alert(data);
                             location.reload();
                         }
                     });
                 }
            }
        });
        $('#myModal').modal({
            keyboard: true,//Esc 退出
            show: false, // 上来不显示
            backdrop: false//点击阴影部分不关闭

        });
        /*$(".daixiandnkasndjasndjansjdnasjdnas").click(function () {
            $('#myModal').modal('show');
        });*/
        /*       $('#myModal').on('hide.bs.modal', function () {//当调用 hide 实例方法时触发。
                   var result = confirm("隐藏时调用我");
                   var oThis = $(this);// 关闭Model 触发
                   if (result) {
                       $.ajax({
                           type: "POST", url: "/console/shopArea/del",
                           data: {sa_id: oThis.data('sa_id')},
                           success: function (data) {
                               //alert(data);
                               location.reload();
                           }
                       });
                   }
               });*/
        /**
         * 显示：$('#myModal').modal('show');

         隐藏：$('#myModal').modal('hide');

         开关：$('#myModal').modal('toogle');

         事件:   $('#myModal').on('hidden', function () {// do something…});*/
    });
</script>

</body>
</html>