<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Cat </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="text-align: center;margin-right:150px">
                <li style="line-height:50px;color:white;margin-left: 10px"> 按店铺名称查询:</li>
                <li style="margin-left: 10px">
                    <form class="navbar-form navbar-right" action="/console/allShopSummary/queryByShopName">
                        <input name="query" type="text" class="form-control" placeholder="Search...">
                    </form>
                </li>
                <li style="line-height:50px;color:white;margin-left: 10px"> 按日期查询:</li>
                <li style="margin-left: 10px">
                    <form class="navbar-form navbar-right" action="/console/allShopSummary/queryByDate">
                        <input name="query" type="text" class="form-control" placeholder="2015-04-24">
                    </form>
                </li>
                <li style="margin-top: 8px;margin-left: 100px"><input id="datefield" type="text" class="form-control" placeholder="输入打款日期:2015-04-24" required></li>
                <li style="margin-top: 8px;margin-left: 8px">
                    <button type="button" class="btn btn-warning">一键打款</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">

            <h2 class="sub-header">Section title</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>日期</th>
                        <th>店铺ID</th>
                        <th>店铺名称</th>
                        <th>微信支付用户点击确认订单数</th>
                        <th>微信支付用户点击确认订单总额</th>
                        <th>是否打款</th>
                        <th>打款操作</th>
                    </tr>
                    </thead>
                    #foreach($shopsummary in $shopSums)
                        <tr>
                            <td>${shopsummary.id}</td>
                            <td class="">$shopsummary.dateStr</td>
                            <td class="">$shopsummary.shop_id</td>
                            <td class="">$shopsummary.shop_name</td>
                            <td class="">$shopsummary.order_count</td>
                            <td class="">$shopsummary.order_price_str</td>
                            <td class="">#if($shopsummary.pay_status == 1)已打款#else未打款#end</td>
                            <td>#if($shopsummary.pay_status != 1)
                                <button type="button" class="btn btn-primary" data-sumid="${shopsummary.id}">打款完成</button>#else#end</td>
                        </tr>
                    #end
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        #if($previous_f)
                            <li>
                                #if($query)
                                    <a href="/console/allShopSummary?shop_id=${shop_id}&from=$previous_f&offset=50&query=$query">Previous</a>
                                #else
                                    <a href="/console/allShopSummary?shop_id=${shop_id}&from=$previous_f&offset=50">Previous</a>
                                #end
                            </li>
                        #end
                        #if($next_f)
                            <li>
                                #if($query)
                                    <a href="/console/shop/order?shop_id=${shop_id}&from=$next_f&offset=50&query=$query">Next</a>
                                #else
                                    <a href="/console/shop/order?shop_id=${shop_id}&from=$next_f&offset=50">Next</a>
                                #end
                            </li>
                        #end
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.edit').editable('/console/shop/cate/up', {
            tooltip: 'Click to edit...',
            callback: function (value, settings) {
                location.reload();
            }
        });
        $('.edit_area').editable('/console/shop/cate/up', {
            type: 'textarea',
            cancel: 'Cancel',
            submit: 'OK',
            indicator: '<img src="img/indicator.gif">',
            tooltip: 'Click to edit...'
        });
    });
    $(".btn-primary").click(function () {
        var result = confirm("是否已经打款完成"),
                oThis = $(this);
        if (result) {
            $.ajax({
                type: "POST", url: "/console/allShopSummary/pay",
                data: {id: oThis.data('sumid')},
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    });
    $(".btn-warning").click(function () {
        var result = confirm("是否一键打款"),
                oThis = $(this);
        if (result) {
            var date = $("#datefield").val();
            $.ajax({
                type: "POST", url: "/console/allShopSummary/oneKey",
                data: {date:date},
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    });
</script>
</body>
</html>
