<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw  fa-gears "></i> <span>基础信息</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/catStaff"><i class="fa fa-angle-double-right"></i>喵喵员工</a></li>
                    <li><a href="/console/registerUser"><i class="fa fa-angle-double-right"></i>注册用户</a></li>
                    <li><a href="/console/catStaffCommit"><i class="fa fa-angle-double-right"></i>员工推广</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    <span>店铺管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/allshop"><i class="fa fa-angle-double-right"></i>店铺列表</a></li>
                    <li><a href="/console/query/shopDetail"><i class="fa fa-angle-double-right"></i>店铺详情</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw  fa-wrench"></i>
                    <span>内部工具</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/tools/help"><i class="fa fa-angle-double-right"></i>店铺管理</a></li>
                    <li><a href="/console/community"><i class="fa fa-angle-double-right"></i>小区维护</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-microphone"></i>
                    <span>客服专用</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/allshop/orders"><i class="fa fa-angle-double-right"></i>订单聚合</a></li>
                    <li><a href="/console/orders/operation"><i class="fa fa-angle-double-right"></i>操作记录</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw  fa-bar-chart-o"></i>
                    <span>数据中心</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/chart/bdOrderChart"><i class="fa fa-angle-double-right"></i>BD-订单统计</a></li>
                    <li><a href="/console/chart/areaOrderChart"><i class="fa fa-angle-double-right"></i>区域-订单统计</a></li>
                    <li><a href="/console/chart/shopOrderChart"><i class="fa fa-angle-double-right"></i>店铺-订单统计</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-credit-card"></i>
                    <span>财务管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <!--<li><a href=""><i class="fa fa-angle-double-right"></i>支付信息</a></li>-->
                    <li><a href="/console/allShopCashSummary"><i class="fa fa-angle-double-right"></i>店铺结算</a></li>
                    <li><a href="/console/boss"><i class="fa fa-angle-double-right"></i>老板信息</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>权限管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/console/privilege"><i class="fa fa-angle-double-right"></i>权限列表</a></li>
                    <li><a href="/console/privilege/authorize"><i class="fa fa-angle-double-right"></i>角色授权</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>